<h1>cadastre o seu livro:</h1>
<form action="/books/insertbook" method="post" class="form">

    <div class="form-control">
        <label for="title">título</label>
        <input type="text" name="title" placeholder="digite o titutlo">
    </div>

    <div class="form-control">
        <label for="title">quantidade de páginas</label>
        <input type="number" name="pageqty" placeholder="quantas páginas tem o livro?">
    </div>
    <input type="submit" value="cadastrar">
</form>